{%- capture body_classes -%}
template-{{ template.name | handle }} {{ template.name }}-{{ template.suffix }} {{ template.name | append: '-' | append: handle }} {% if cart.item_count == 0 %}cart-empty{% endif %}
{%- endcapture -%}
{%- capture html_classes -%}
no-js supports-no-cookies {%- if request.path == '/challenge' -%}grow-full{%- endif -%}
{%- endcapture -%}

<!doctype html>
<html
  class="{{- html_classes -}}"
  lang="{{ request.locale.iso_code }}" 
  style="--sf-page-opacity: 0;"
  data-template="{{ template.name }}"
>
<head>
<script id="TOS_SCRIPT_ID" href="{{'271528381b185d88ccd5100c8fa47f84b9780acb219581ec1850b12158079001.json' | asset_url }}"></script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="theme-color" content="{{ settings.color_primary }}">

  {% render 'preload' %}
  {% render 'SEO' %}
  {% render 'social-meta-tags' %}
  {% render 'font-face' %}
  {% render 'critical-css' %}
  {% render 'critical-scripts' %}
  {% render 'style-tags' %}
  {% render 'custom-code-head' %}

  {% comment %} {% render 'content_for_header' %} {% endcomment %}
  {% include 'buddha-megamenu' %}
  {{ content_for_header }}
{% include 'ets_cf_assets' %}
{% render 'globo.alsobought.script' %}

                  {% include 'bss-product-labels-configs' %}
                    
  {% include 'qikify-apps' %}
</head>
             

<body
  id="sf-theme" style="opacity: 0;"
  class="{{ body_classes }} relative min-h-screen"
  {% if template.name == 'product' %}data-product-id="{{ product.id }}"{% endif %}
>
  {% render 'theme-data' %}
  {% section 'annoucement' %}
  {% section 'header' %}

  <main role="main" id="MainContent">
    {% render 'scroll-top-button' %}
    <div class="globoRecommendationsTop"></div>{{ content_for_layout }}{% render 'globo.alsobought.action' %}
  </main>

  {% section 'footer' %}
  {% section 'mobile-sticky-bar' %}

  {% render 'custom-code-body' %}
  {% render 'foxkit-messenger' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  {% render 'script-tags' %}
  <script src="{{ 'custom.js' | asset_url }}"></script>

{% include 'elspw_include' %}
{% if content_for_header contains 'product_label' %}{% include 'bss-product-label-js' %}{% include 'bss-label-style-css' %}{% endif %}
{%- render 'profitjs-context' -%}
</body>
</html>
